<main>
    <div class="content_img_principal">
        <img class="img-principal" src="/assets/IMG-HEADER/pexels-trace-constant-707046 (2).jpg" alt="">

    </div>
    <div class="encabezado_quienes_somos">
        <h2>QUIENES SOMOS EN CONCARRO</h2>
    </div>
    <div class="content_quines_somos">

        <div class="content_img_quienes">

            <div class="content_img_quienes">
                <img class="img_quienes" src="/assets/IMG-HEADER/pexels-zsolt-joo-2882234 (1).jpg" alt="">
            </div>

            <div class="content_quienes">
                <div class="P_1">
                    <p>Bienvenidos a Concarro, tu destino confiable para la compra y venta de vehículos de alta calidad.
                        Nos enorgullece ser una empresa líder en el mercado automotriz,
                         brindando a nuestros clientes una experiencia única y satisfactoria desde el primer contacto hasta la entrega del vehículo.</p>
                </div>
                <div class="P_2">
                    <p>Desde nuestra fundación en 2005,
                        hemos estado comprometidos con la excelencia y la integridad en el negocio de venta de automóviles.
                         Comenzamos con la visión de proporcionar a nuestros clientes una selección diversa de vehículos de calidad,
                          respaldada por un servicio excepcional.</p>
                </div>

            </div>

        </div>

    </div>

    <div class="content_logo_cars">
        <div class="Logo-ford"><img class="ford" src="..//src/assets/Logo-cars/580b57fcd9996e24bc43c47c.png" alt=""></div>
        <div class="Logo-chevrolet"><img class="chevrole" src="..//src/assets/Logo-cars/580b585b2edbce24c47b2c48.png" alt=""></div>
        <div class="Logo-renault"><img class="renault" src="..//src/assets/Logo-cars/62015d0b40d2700004f23851.png" alt=""></div>
        <div class="Logo-wv"><img class="renault" src="..//src/assets/Logo-cars/580b57fcd9996e24bc43c4a5.png" alt=""></div>
    </div>

</main>