<footer>
    <div class="content-footer">

        <div class="content-links-footer">
            <li>
                <a href="">Trabaja con nostros</a>
                <a href="">Terminos y condiciones</a>          
                <a href="">Noticias</a>
                <a href="">Ayuda</a>
            </li>
        </div>

        <div class="content-img-logo">
            <img class="logo" src="/assets/IMG-HEADER/da7e5a04-98c9-41f5-87f3-f97608ca41b9.png" alt="">
        </div>
    </div>
</footer>
