<header>
    <div class="encabezado">
        <div class="container_logo">
            <h1><span style="color: grey;">Con</span>Carro</h1>
            <div class="img">
                <img class="logo" src="/assets/IMG-HEADER/da7e5a04-98c9-41f5-87f3-f97608ca41b9.png" alt="">
            </div>
        </div>

        <div class="Busqueda">
            <input class="busqueda_input" type="text" placeholder="todo aqui">
        </div>
        <div class="link">
            <nav>
                <a routerLink="/" routerLinkActive="routerLinkActive">{{li_1}}</a>
                <a href="">{{li_2}}</a>
                <a href="">{{li_3}}</a>
                <a routerLink="/ayuda">{{li_4}}</a>
            </nav>
        </div>
    </div>

</header>
